body {
    background-color: #FFA2A8
}

.vbreak{
    padding-bottom: 30px;
}

p{
    color: black;
}

h3{
    color: white;
    padding: 10px
}

h2{
    text-align: center;
    color: white;
    padding: 10px
}

h1{
    text-align: center;
    color: black;
    padding: 10px
}
